body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


header {
    background-color: #491254;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffac33;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute; /* Define o posicionamento absoluto */
    top: 20%; /* Ajuste a partir do topo */
    left: 33%; /* Ajuste a partir da esquerda */
}

form input[type="text"],
form input[type="date"],
form input[type="file"],
form textarea {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #491254;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center; /* Centraliza o botão dentro do formulário */
}

form input[type="submit"]:hover {
    background-color: #832197;
}