/* Estilos para o corpo e fundo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fundo suave */
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #491254; /* Cor principal */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para a navegação */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Mudança de cor ao passar o mouse */
nav ul li a:hover {
    color: #ffac33; /* Cor de destaque ao passar o mouse */
}


h2 {
    color: #491254; /* Cor principal */
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #5d0081; 
    margin-right: 20px;
}
.member-info {
    flex-grow: 1;
}
.member-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.member-info p {
    margin: 0;
}

.member:nth-child(even) {
    flex-direction: row-reverse;
}

.member:nth-child(even) .member img {
    margin-right: 0;
    margin-left: 20px;
}

.member:nth-child(even) .member-info {
    margin-left: 20px;
    margin-right: 0;
    text-align: right; /* Alinha o texto do contato à direita */
}

/* Estilos para o rodapé */
footer {
    background-color: #491254; /* Cor principal */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.login-btn {
    background-color: #ffffff; /* Cor de fundo */
    border: none; /* Sem borda */
    color: #491254; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento de texto */
    text-decoration: none; /* Sem decoração de texto */
    display: inline-block; /* Exibição em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 10px; /* Margem externa */
    cursor: pointer; /* Cursor de mouse */
    border-radius: 4px; /* Borda arredondada */
    position: absolute; /* Posicionamento absoluto */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
}

/* Estilos quando o mouse passa por cima do botão */
.login-btn:hover {
    background-color: #ffac33; /* Nova cor de fundo ao passar o mouse */
    color: white;
}